:root {
  --fs-1: 1.125rem;
  --fs-2: 2.25rem;
  --fs-3: 4.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", Futura, sans-serif;
  font-variant-ligatures: normal;
  font-feature-settings: "ss01" on;
  font-weight: 390;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
  font-size: var(--fs-1);
  color: #000000;
  user-select: none;
}
a {
  font-family: "Jost", Futura, sans-serif;
  text-decoration: none;
  color: #000000;
}
a:hover,
a:active,
li:hover {
  text-decoration: line-through;
}
h1,
h2,
h3 {
  font-weight: 500;
}
h1 {
  font-size: var(--fs-3);
  padding-bottom: 1rem;
  line-height: 1.2;
}
h2,
h3 {
  font-size: var(--fs-2);
  padding-top: 1rem;
}
p {
  line-height: 1.4;
}
section,
main {
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem 0;
}
section:last-of-type {
  padding: 1rem 0 10vh 0;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
ul li {
  list-style-type: none;
  list-style-position: inside;
}
.flex--column {
  display: flex;
  flex-direction: column;
}
.small-caps {
  font-variant: all-small-caps;
  letter-spacing: 1px;
}
.anchor {
  position: absolute;
  transform: translateY(-1rem);
}
.heart-cursor {
  cursor: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools --%3E%3Csvg fill='%23ff0000' width='22px' height='22px' viewBox='0 0 1920 1920' xmlns='http://www.w3.org/2000/svg' stroke='%23ff0000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M1771.731 291.037C1675.709 193.659 1547.944 140 1411.818 140h-.113c-136.125 0-263.777 53.66-359.573 150.924-37.618 38.07-68.571 80.997-92.294 127.426-23.61-46.429-54.563-89.356-92.068-127.313C771.86 193.659 644.208 140 507.97 140h-.113c-136.012 0-263.777 53.66-359.8 151.037-197.691 200.629-197.691 527.103 1.695 729.088l810.086 760.154 811.893-761.736c197.692-200.403 197.692-526.877 0-727.506' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E"),
    pointer;
}
.zero {
  font-family: "Atkinson Hyperlegible Next", "Jost", Futura, sans-serif;
  font-weight: 200;
  font-size: calc(var(--fs-1) + 0.1rem);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
}

/* ------------ NAV -------------------- */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  min-width: 80vw;
  padding-top: 3vh;
  justify-self: center;
}
.nav-title {
  font-weight: 400;
}
.nav div a {
  padding: 0.5rem;
}
.nav-links:last-child::after {
  content: "";
  display: inline-block;
  position: absolute;
  margin-left: -0.4rem;
  margin-top: 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #ff0000;
  opacity: 0.7;
  border-radius: 50%;
}

.nav-links:last-child:hover::after {
  opacity: 1;
}
/* ------------ MAIN PAGE -------------- */

.hero {
  margin: auto 0;
}
.hero ul {
  min-height: fit-content;
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: var(--fs-2);
}

.hero ul li {
  grid-column: 1;
}
.hero ul li a {
  display: flex;
  gap: var(--fs-3);
}
.hero ul li a div p:first-child {
  font-weight: 400;
}
.hero ul li a p:first-child {
  letter-spacing: 0.5px;
  margin-top: -0.1rem;
}
.hero-img {
  opacity: 0;
  transform: scale(0.8);
  position: fixed;
  display: flex;
  max-height: 70vh;
  max-width: 40vw;
  right: 10vw;
  top: 15vh;
  bottom: 15vh;
  margin: auto;
  /* transition: opacity 0.2s ease, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1); */
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.1s;
  z-index: 2;
}
.hero ul li:hover + .hero-img {
  opacity: 1;
  transform: scale(1);
}

/* ------------ ARCHIVE PAGE -------------- */

.archive {
  margin-top: 10vh;
}

.archive-item-container {
  width: 80vw;
  border-top: 3px solid #181818;
  border-right: 1px solid #181818;
  border-bottom: 1px solid #181818;
  border-left: 1px solid #181818;
}
.archive-tag-container {
  position: relative;
  justify-self: end;
  max-height: 2rem;
  max-width: 15%;
  min-width: 180px;
}
.archive-tag {
  background: #000000;
  opacity: 0.9;
  max-height: 2rem;
  max-width: 15%;
  min-width: 180px;
  height: 2rem;
  clip-path: polygon(0 100%, 0 30%, 7% 0, 93% 0, 100% 30%, 100% 100%);
}

.archive-tag-small {
  position: absolute;
  background: white;
  width: 100%;
  height: 108%;
  top: 2px;
  left: 0px;
  clip-path: polygon(0 100%, 0 30%, 7% 0, 93% 0, 100% 30%, 100% 100%);
  scale: 0.99;
  z-index: 3;
}
.archive-tag-year {
  position: absolute;
  right: 1.5rem;
  bottom: 0.1rem;
  font-weight: 400;
  z-index: 4;
}
.archive-item {
  width: 15vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.archive-img {
  width: 100%;
}

/* ------------ ABOUT PAGE -------------- */

/* ------------ FOOTER ------------------ */

footer {
  padding: 0 10vw 1.5rem 10vw;
  margin-top: auto;
  gap: 2rem;
  width: 100%;
}
footer a {
  color: #ffffff;
}
.made-with-love:hover {
  color: rgb(243, 0, 0);
  text-decoration: none;
}
.footer-license {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.license-icons {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
}

.license-icons img {
  opacity: 95%;
  width: 1rem;
}

@media only screen and (max-device-width: 700px) {
  :root {
    --fs-0: 0.8rem;
    --fs-1: 1rem;
    --fs-2: 2rem;
    --fs-3: 3rem;
  }
  section {
    min-width: 90vw;
  }
  section:last-of-type {
    padding: 1rem 0 5vh 0;
  }

  /* ------------ NAV -------------------- */
  .nav div a {
    padding: 0 0;
  }

  /* ------------ MAIN PAGE -------------- */

  .hero ul li:hover + .hero-img {
    opacity: 0;
  }

  /* ------------ ARCHIVE PAGE -------------- */

  .archive {
    width: 90vw;
  }
  .archive-item {
    width: 25vw;
  }
  .archive-tag-container {
    max-height: 7rem;
    max-width: 25%;
    min-width: 150px;
  }
  .archive-tag {
    max-height: 7rem;
    max-width: 20%;
    min-width: 150px;
    height: 5rem;
    height: 8rem;
  }
  /* ------------ ABOUT PAGE -------------- */

  /* ------------ FOOTER ------------------ */

  footer {
    padding: 1rem 10vw;
  }
  footer a {
    font-size: var(--fs-0);
  }
  .license-icons img {
    width: var(--fs-0);
  }
}

@media (min-width: 1100px) and (max-width: 1921px) and (min-height: 600px) and (max-height: 1080px) {
}
