---
layout: base.njk
title: Lu Immich | Arquivo
permalink: "/arquivo/"
---

<main>
  <section class="archive-hero">
    <div class="archive-links-container">
      
      <!-- Loop 1: Gera automaticamente o menu de anos no topo (2026, 2025, 2024...) -->
      {% for sheet in archive %}
      <div class="archive-link">
        <a class="archive-tag-container" id="archive-link-{{ sheet.year }}" href="#archive-sheet-{{ sheet.year }}">
          <div class="archive-tag"></div>
          <div class="archive-tag-small">
            <p class="archive-tag-year">{{ sheet.year }}</p>
          </div>
        </a>
        <div class="line" {% if sheet.year == '2025' %}id="archive-link-line-2025"{% endif %}></div>
      </div>
      {% endfor %}
      
      <!-- Aba vazia decorativa do final -->
      <div class="archive-link">
        <a class="archive-tag-container" id="archive-link-empty">
          <div class="archive-tag"></div>
          <div class="archive-tag-small"></div>
          <p class="archive-tag-year"></p>
        </a>
        <div class="line"></div>
      </div>

    </div>
    
    <div class="archive-front-container">
      <div class="archive-front-top"></div>
      <div class="archive-front"></div>
    </div>
  </section>

  <section class="archive-sheets-container">
    
    <!-- Loop 2: Gera os blocos anuais de imagens -->
    {% for sheet in archive %}
    <div class="archive-sheet">
      <span class="anchor" id="archive-sheet-{{ sheet.year }}"></span>
      
      <div class="archive-tag-container">
        <div class="archive-tag"></div>
        <div class="archive-tag-small"></div>
        <p class="archive-tag-year">{{ sheet.year }}</p>
      </div>
      
      <div class="archive-item-container" id="archive-item-container-{{ sheet.year }}">
        <!-- Loop 3: Insere as imagens de dentro de cada ano específico -->
        {% for item in sheet.items %}
        <div class="archive-item">
          <a {% if item.url %}href="{{ item.url }}"{% endif %}>
            <!-- O if item.border injeta a classe border-img dinamicamente -->
            <img class="archive-img {% if item.border %}border-img{% endif %}" src="{{ item.image }}" alt="{{ item.alt }}" loading="lazy">
          </a>
        </div>
        {% endfor %}
      </div>
      
    </div>
    {% endfor %}
    
  </section>
</main>