---
layout: base.njk
title: Lu Immich | Design
permalink: "/design/"
---

<main>
  <section class="archive-hero">
    <div class="archive-links-container">
      
      {% for sheet in archive %}
      <div class="archive-link">
        <a class="archive-tag-container" id="archive-link-{{ sheet.year }}" href="#archive-sheet-{{ sheet.year }}">
          <div class="archive-tag"></div>
          <div class="archive-tag-small">
            <p class="archive-tag-year">{{ sheet.year }}</p>
          </div>
        </a>
        <div class="line" {% if sheet.year == '2025' %}id="archive-link-line-2025"{% endif %}></div>
      </div>
      {% endfor %}
      
      <div class="archive-link">
        <a class="archive-tag-container" id="archive-link-empty">
          <div class="archive-tag"></div>
          <div class="archive-tag-small"></div>
          <p class="archive-tag-year"></p>
        </a>
        <div class="line"></div>
      </div>

    </div>
    
    <div class="archive-front-container">
      <div class="archive-front-top"></div>
      <div class="archive-front"></div>
    </div>
  </section>

  <section class="archive-sheets-container">
    
    {% for sheet in archive %}
    <div class="archive-sheet">
      <span class="anchor" id="archive-sheet-{{ sheet.year }}"></span>
      
      <div class="archive-tag-container">
        <div class="archive-tag"></div>
        <div class="archive-tag-small"></div>
        <p class="archive-tag-year">{{ sheet.year }}</p>
      </div>
      
      <div class="archive-item-container" id="archive-item-container-{{ sheet.year }}">
        {% for item in sheet.items %}
        <div class="archive-item">
          <a {% if item.url %}href="{{ item.url }}"{% endif %}>
            
            <!-- 1. Define as classes condicionalmente -->
            {% set imgClass = "archive-img border-img" if item.border else "archive-img" %}
            
            <!-- 2. Executa o shortcode com a classe correta -->
            {% image item.image, item.alt, imgClass, "(max-width: 768px) 50vw, 400px" %}
            
          </a>
        </div>
        {% endfor %}
      </div>
      
    </div>
    {% endfor %}
    
  </section>
</main>